**/.settings
**/.classpath
**/.project
**/.gradle
**/target
**/.svn/
**/.idea/
**/*.iml
/data/synccms/license.dat
/data/synccms/indexes/
/data/synccms/backup/
/data/synccms/history/
/data/synccms/temp/
/data/synccms/template/cache/
/workspace/
.metadata
node_modules/
/synccms-front/backend/src/main/resources/public/
/synccms-admin/backend/src/main/resources/public/
/spy.log
